<p style="color: green"><%= notice %></p>
<h1>Posts</h1>
<%== pagy_nav_js(@pagy) %>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>
<%== pagy_nav(@pagy) %>
<%= link_to "New post", new_post_path %>